<?xml version="1.0" encoding="utf-8"?>
<web-app 
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-fragment_3_0.xsd"
	metadata-complete="false">

	<display-name>MessagePack bridge services</display-name>
	<description>Test web application for MessagePack</description>
	<!-- <servlet> <servlet-name>mpservlet0</servlet-name> <servlet-class>us.yuxin.demo.msgpack.MPServlet0</servlet-class> 
		</servlet> <servlet> <servlet-name>hello</servlet-name> <servlet-class>us.yuxin.demo.msgpack.HelloServlet</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>mpservlet0</servlet-name> <url-pattern>/0</url-pattern> 
		</servlet-mapping> <servlet-mapping> <servlet-name>hello</servlet-name> <url-pattern>/h</url-pattern> 
		</servlet-mapping> -->
</web-app>